<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="org.easyway.mapper.AttendanceMapper">

	<resultMap id="attendanceVOResultMap" type="org.easyway.domain.attendance.AttendanceVO">
		<id property="attendanceId" column="attendance_id" />
		<result property="employeeId" column="employee_id" />
		<result property="attendanceStart" column="attendance_start" />
		<result property="attendanceOut" column="attendance_out" />
		<result property="attendanceEnd" column="attendance_end" />
	</resultMap>
	
	
	<insert id="insert">
		insert into attendance(
			attendance_id, employee_id, attendance_start
		)
		values(
			attendance_seq.nextval, #{employeeId}, TO_DATE(#{attendanceStart},'yyyy/mm/dd hh24:mi:ss')
		)
	</insert>
	
 		
	<update id="updateAttendanceOut">
		UPDATE attendance SET attendance_out = TO_DATE(#{attendanceOut},'yyyy/mm/dd hh24:mi:ss')
		WHERE employee_id = #{employeeId}
		AND TO_CHAR(attendance_start, 'yyyy/mm/dd')
			= TO_CHAR(SYSDATE, 'yyyy/mm/dd')
	</update>
	
	
	<update id="updateAttendanceEnd">
		UPDATE attendance SET attendance_end = TO_DATE(#{attendanceEnd},'yyyy/mm/dd hh24:mi:ss')
		WHERE employee_id = #{employeeId}
		AND TO_CHAR(attendance_start, 'yyyy/mm/dd')
			= TO_CHAR(SYSDATE, 'yyyy/mm/dd')
	</update>
	
	
	<select id="getList" resultMap="attendanceVOResultMap">
		SELECT *
		FROM attendance
		WHERE employee_id = #{employeeId}
		AND TO_CHAR(attendance_start, 'yyyy/mm/dd')
			= TO_CHAR(SYSDATE, 'yyyy/mm/dd')
	</select>
	
	
</mapper>
