<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="org.easyway.mapper.ChatMessageMapper">

	<resultMap id="chatMessageDTOResultMap" type="org.easyway.domain.chat.ChatMessageDTO">
		<result property="employeeId" column="employee_id" />
		<result property="departmentId" column="cr_id" />
		<result property="employeeName" column="employee_name" />
		<result property="message" column="cm_content" />
	</resultMap>

	<insert id="insert">
		insert into CHAT_MESSAGE(
		cm_id, employee_id, cr_id, cm_content, cm_time
		)
		values(
		cm_seq.nextval, #{employeeId}, #{departmentId}, #{message},SYSDATE
		)
	</insert>


	<select id="getList" resultMap="chatMessageDTOResultMap">
		SELECT c.cr_id, c.employee_id, c.cm_content,e.employee_name
		FROM chat_message c, employee e
		WHERE
		c.employee_id = e.employee_id
		AND c.cr_id = #{departmentId} ORDER BY c.cm_time ASC
	</select>

</mapper>
