<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="org.easyway.mapper.EmployeeMapper">

	<resultMap id="employeeVOResultMap" type="org.easyway.domain.employee.EmployeeVO">
		<id property="employeeId" column="employee_id" />
		<result property="officeId" column="office_id" />
		<result property="memberId" column="member_id" />
		<result property="departmentId" column="department_id" />
		<result property="positionId" column="position_id" />
		<result property="employeeName" column="employee_name" />
		<result property="employeeCall" column="employee_call" />
		<result property="employeePhone" column="employee_phone" />
		<result property="employeeHireDate" column="employee_hiredate" />
		<result property="employeeWorkType" column="employee_work_type" />
		<result property="employeeMaster" column="employee_master" />
		<result property="employeeLeftDay" column="employee_left_day" />
	</resultMap>

	<resultMap id="employeeDTOResultMap" type="org.easyway.domain.employee.EmployeeDTO">
		<id property="employeeId" column="employee_id" />
		<result property="memberId" column="member_id" />
		<result property="officeId" column="office_id" />
		<result property="departmentId" column="department_id" />
		<result property="positionId" column="position_id" />
		
		<result property="employeeName" column="employee_name" />
		<result property="employeeEmail" column="member_email" />
		<result property="employeePosition" column="position_name" />
		<result property="employeeDepartment" column="department_name" />
		<result property="employeeWorkType" column="employee_work_type" />
		<result property="employeePhone" column="employee_phone" />
		<result property="employeeHireDate" column="employee_hiredate" />		
		<result property="employeeMaster" column="employee_master" />
		<result property="employeeLeftDay" column="employee_left_day" />
	</resultMap>

	<insert id="insertEmployee">
		insert into employee(
		employee_id, office_id,
		member_id,department_id,position_id,employee_name,employee_call
		,employee_phone,employee_hiredate,employee_work_type,employee_master,employee_left_day
		)
		values(
		employee_seq.nextval, #{officeId},
		#{memberId},#{departmentId},#{positionId},#{employeeName},
		#{employeeCall},#{employeePhone},#{employeeHireDate},#{employeeWorkType},#{employeeMaster},#{employeeLeftDay}
		)
	</insert>


	<select id="getEmployeeByEmployeeId" resultMap="employeeDTOResultMap">
		SELECT e.employee_id, m.member_id, e.office_id, e.department_id, e.position_id, e.employee_name,
		 p.position_name, m.member_email, d.department_name,
		e.employee_work_type, e.employee_phone, e.employee_hiredate, e.employee_master, e.employee_left_day
		FROM employee e, position p, department d, member m
		WHERE e.position_id = p.position_id
		AND e.department_id = d.department_id
		AND e.member_id = m.member_id
		AND e.employee_id = #{employeeId}
		
	</select>
	<select id="getEmployeeByMemberId" resultMap="employeeDTOResultMap">
		SELECT e.employee_id, m.member_id, e.office_id, e.department_id, e.position_id, e.employee_name,
		 p.position_name, m.member_email, d.department_name,
		e.employee_work_type, e.employee_phone, e.employee_hiredate, e.employee_master, e.employee_left_day
		FROM employee e, position p, department d, member m
		WHERE e.position_id = p.position_id
		AND e.department_id = d.department_id
		AND e.member_id = m.member_id
		AND e.office_id = #{officeId} AND e.member_id = #{memberId}
	</select>

	<select id="getListEmployee" resultMap="employeeDTOResultMap">
		SELECT m.member_id, e.employee_name,
		 p.position_name, m.member_email, d.department_name,
		e.employee_work_type, e.employee_phone, e.employee_hiredate
		FROM employee e, position p, department d, member m
		WHERE e.position_id = p.position_id
		AND e.department_id = d.department_id
		AND e.member_id = m.member_id
		AND e.office_id = #{officeId}
	</select>

	<!-- <update id="updateEmployee"> update board set title = #{title}, contents 
		= #{contents} where seq = #{seq} </update> -->

	<delete id="deleteEmployee">
		delete from employee
		where
		employee_id = #{employeeId}
	</delete>
</mapper>















