<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.easyway.mapper.NoticeMapper">

<!-- sql문을 저장했다 필요할때 불러올수있다(include) -->

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							OB_TITLE like '%'||#{keyword}||'%' </when>
						<when test="type == 'C'.toString()">
							OB_CONTENT like '%'||#{keyword}||'%' </when>
						<when test="type == 'N'.toString()">
							DEPARTMENT_ID like '%'||#{keyword}||'%' </when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<insert id="insert">
		INSERT INTO OF_BOARD
		(
		OB_ID, EMPLOYEE_ID, DEPARTMENT_ID, OB_TITLE, OB_CONTENT, OB_VIEW, OB_DATE,OB_FIXED_CHECK, OB_ACCESS, FILE_NAME
		)
		VALUES(ob_seq.nextval,#{employeeId},#{departmentId},#{obTitle},#{obContent},0,SYSDATE, #{obFixedCheck}, #{obAccess}, #{fileName, jdbcType=VARCHAR}
		)
	</insert>

	<select id="getListAll" resultType="org.easyway.domain.notice.NoticeVO">
		SELECT
		OB_ID AS obId,
		EMPLOYEE_ID AS employeeId,
		DEPARTMENT_ID AS departmentId,
		OB_TITLE AS obTitle,
		OB_CONTENT AS obContent,
		OB_VIEW AS obView,
		OB_DATE AS obDate,
		OB_FIXED_CHECK AS obFixedCheck,
		OB_ACCESS AS obAccess
		FROM OF_BOARD
		WHERE
		OB_ACCESS = 'N' 
		ORDER BY OB_FIXED_CHECK DESC, OB_ID DESC

	</select>


	<select id="read" resultType="org.easyway.domain.notice.NoticeVO">
		SELECT
			O.OB_ID AS obId,
			E.EMPLOYEE_NAME AS employeeName,
			O.DEPARTMENT_ID AS departmentId,
			O.EMPLOYEE_ID AS employeeId,
			E.OFFICE_ID AS officeId,
			O.OB_TITLE AS obTitle,
			O.OB_CONTENT AS obContent,
			O.FILE_NAME AS fileName,
			O.OB_DATE AS obDate,
			O.OB_VIEW AS obView,
			O.OB_FIXED_CHECK AS obFixedCheck,
			O.OB_ACCESS AS obAccess
		FROM OF_BOARD O
		JOIN
		EMPLOYEE E
		ON
		O.EMPLOYEE_ID = E.EMPLOYEE_ID
		WHERE
		OB_ID = #{obId}
	</select>


	<update id="update" parameterType="org.easyway.domain.notice.NoticeVO">
		UPDATE
		OF_BOARD SET
		OB_TITLE =
		#{obTitle},
		OB_CONTENT = #{obContent},
		FILE_NAME = #{fileName, jdbcType=VARCHAR},
		OB_FIXED_CHECK = #{obFixedCheck},
		OB_ACCESS = #{obAccess}
		WHERE OB_ID = #{obId}
	</update>

	<delete id="delete">
		DELETE
		FROM OF_BOARD
		WHERE OB_ID=#{obId}
	</delete>

	<!-- 페이지를 넘길때 마다 중요 게시글이 상단에 고정뜨게하는 페이징+검색 리스트 쿼리문 -->
	<select id="getListPaging" resultType="org.easyway.domain.notice.NoticeVO">
	<![CDATA[
			SELECT 
				O.OB_ID AS obId,
				E.EMPLOYEE_NAME AS employeeName,
				O.DEPARTMENT_ID AS departmentId,
				O.EMPLOYEE_ID AS employeeId,
				E.OFFICE_ID AS officeId,
				O.OB_TITLE AS obTitle,
				O.OB_CONTENT AS obContent,
				O.OB_DATE AS obDate,
				O.OB_VIEW AS obView,
				O.OB_FIXED_CHECK AS obFixedCheck,
				O.OB_ACCESS AS obAccess
				FROM ( 
				SELECT 
						ROWNUM RN, OB_ID, EMPLOYEE_ID, DEPARTMENT_ID, OB_TITLE, OB_CONTENT, OB_DATE, OB_VIEW, OB_FIXED_CHECK, OB_ACCESS
					FROM (
			SELECT /*+INDEX_DESC(OF_BOARD PK_OF_BOARD) */
						ROWNUM RN, OB_ID, EMPLOYEE_ID, DEPARTMENT_ID, OB_TITLE, OB_CONTENT, OB_DATE, OB_VIEW, OB_FIXED_CHECK, OB_ACCESS
					FROM OF_BOARD
									ORDER BY OB_FIXED_CHECK DESC, OB_ID DESC
				)WHERE 
							]]>
				<include refid="criteria"></include>
							<![CDATA[
				ROWNUM  < = #{pageNum} * #{amount} 
				AND
				OB_ACCESS = 'N'
				)
				O JOIN EMPLOYEE E ON O.EMPLOYEE_ID = E.EMPLOYEE_ID
				WHERE RN > (#{pageNum} -1) * #{amount}
			]]>
				ORDER BY OB_FIXED_CHECK DESC, OB_ID DESC
	</select> 
	
		<select id="getTotalCount" resultType="int">
		SELECT
		COUNT(*) AS obId FROM OF_BOARD
		WHERE OB_ID > 0
		AND OB_ACCESS = 'N'
	</select>
	
		<select id="getTotalDepartmentNoticeCount" resultType="int">
		SELECT
		COUNT(*) AS obId FROM OF_BOARD
		WHERE OB_ID > 0
		AND OB_ACCESS = 'Y'
		</select>
	
	<update id="updateViewCount" parameterType="Long">
		UPDATE
		OF_BOARD
		SET OB_VIEW = OB_VIEW + 1
		WHERE OB_ID = #{obId}
	</update>

	<!-- 부서 공지사항 영역 -->
	
	<select id="getListDepartment" resultType="org.easyway.domain.notice.DepartmentDTO">
		<!-- 페이징하기전 부서별 게시판 목록-->
		SELECT
			O.OB_ID AS obId,
			O.OB_TITLE AS obTitle, 
			O.OB_CONTENT AS obContent,
			O.OB_VIEW AS obView,
			O.OB_DATE AS obDate,
     		O.OB_ACCESS AS obAccess,
			O.OB_FIXED_CHECK AS obFixedCheck,
			E.EMPLOYEE_ID AS employeeId, 
			E.EMPLOYEE_NAME AS employeeName, 
			E.OFFICE_ID AS officeId,
			D.DEPARTMENT_ID AS departmentId,
			D.DEPARTMENT_NAME AS departmentName 
		FROM
			OF_BOARD O
		JOIN
			EMPLOYEE	E
		ON
			O.EMPLOYEE_ID = E.EMPLOYEE_ID
		JOIN
			DEPARTMENT D
		ON
			O.DEPARTMENT_ID = D.DEPARTMENT_ID
		WHERE
			O.DEPARTMENT_ID = #{departmentId}
			AND
			O.OB_ACCESS = 'Y'
		ORDER BY OB_FIXED_CHECK DESC, OB_ID DESC
	</select>
	
	<!-- 페이징 부서 공지사항 목록(예정) -->
	
		
</mapper>